{{ define "main" }}
    <!--====================  breadcrumb area ====================-->
    {{ partial "hero.html" . }}
    <!--====================  End of breadcrumb area  ====================-->
    <div class="page-wrapper section-space--inner--120">
        <!--Service section start-->
        <div class="service-section">
            <div class="container">

                <div class="row">
                    {{ range .Site.Taxonomies.projects }}
                    {{ $link := .Page.Permalink }}
                    {{ $placeholder := $.Site.Params.placeholder }}
                    <div class="col-lg-4 col-md-6 col-12 section-space--bottom--30">
                        <div class="service-grid-item">
                            <div class="service-grid-item__image">
                                <div class="service-grid-item__image-wrapper">
                                    <a href="{{ $link }}" aria-label="{{ .Page.Title }}">
                                        <img width="370" height="237" src='{{ default $placeholder .Page.Params.cover | relURL }}' class="img-fluid" alt="{{ .Page.Title }}">
                                    </a>
                                </div>
                            </div>
                            <div class="service-grid-item__content">
                                <h3 class="title">
                                    <a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a>
                                </h3>
                                <p class="subtitle">{{ .Page.Description | truncate 100 }}</p>
                                <a href="{{ .Page.Permalink }}" class="see-more-link" aria-label="See more about {{ .Page.Title }}">SEE MORE</a>
                            </div>
                        </div>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
        <!--Service section end-->
    </div>
{{ end }}