<div class="breadcrumb-area bg-img" data-bg='{{ default "images/dev/stats-bg.jpg" .Params.cover | relURL }}'>
    <div class="container">
        <div class="row">
            <div class="col">

                <div class="page-banner text-center">
                    <h1>{{ .Title }}</h1>
                    {{ with .Params.subtitle }}
                    <p class="hero-slider__text">{{ . }}</p>
                    {{ end }}
                </div>

            </div>
        </div>
    </div>
</div>