{{ $main := resources.Get "css/style.css" }}
{{ $bootstrap := resources.Get "css/bootstrap.min.css" }}
{{ $animate := resources.Get "css/plugins/animate.min.css" }}
{{ $lightgallery := resources.Get "css/plugins/lightgallery.min.css" }}
{{ $swiper := resources.Get "css/plugins/swiper.min.css" }}
{{ $markdown := resources.Get "css/plugins/markdown.css" }}

{{ $enquiries := resources.Get "css/enquiries.css" }}
{{ $signature := resources.Get "css/signature.css" }}
{{ $styles := slice $markdown $bootstrap $animate $lightgallery $swiper $main $enquiries $signature | resources.Concat "css/bundle.css" }}
{{ $styles := $styles | minify | fingerprint }}
<link rel="stylesheet" href="{{ $styles.RelPermalink }}">
