<!--  footer area -->
<div class="footer-area dark-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="footer-content-wrapper section-space--inner--100">
                    <div class="row">
                        <div class="col-xl-3 col-lg-3 col-md-12">
                            <!-- footer intro wrapper -->
                            <div class="footer-intro-wrapper">
                                <div class="footer-logo">
                                    <a href="{{ site.BaseURL }}">
                                        <img width="199" height="44" src="{{ site.Params.info.footer_logo | relURL }}" class="img-fluid inverted-image" alt="first-choice-builder-logo">
                                    </a>
                                </div>
                                <div class="footer-desc">
                                    {{ site.Params.info.text }}
                                </div>

                            </div>
                        </div>
                        {{ with site.Menus.services }}
                        <div class="col-xl-2 offset-xl-1 col-lg-3 col-md-4">
                            <!-- footer widget -->
                            <div class="footer-widget">
                                <h4 class="footer-widget__title">SERVICES</h4>
                                <ul class="footer-widget__navigation">
                                    {{ range . }}
                                    <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                                    {{ end }}
                                </ul>
                            </div>
                        </div>
                        {{ end }}
                        {{ with site.Menus.links }}
                        <div class="col-xl-2 offset-xl-1 col-lg-3 col-md-4">
                            <!-- footer widget -->
                            <div class="footer-widget">
                                <h4 class="footer-widget__title">QUICK LINKS</h4>
                                <ul class="footer-widget__navigation">
                                    {{ range . }}
                                    <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                                    {{ end }}
                                </ul>
                            </div>
                        </div>
                        {{ end }}
                        <div class="col-xl-2 offset-xl-1 col-lg-3 col-md-4">
                            <!-- footer widget -->
                            <div class="footer-widget mb-0">
                                <h4 class="footer-widget__title">CONTACT US</h4>
                                <div class="footer-widget__content">
                                    {{ with site.Params.info.address }}
                                    <p class="address">
                                        {{ . }}
                                    </p>
                                    {{ end }}
                                    <ul class="contact-details">
                                        {{ with site.Params.info.number }}
                                        <li>
                                            <span>
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="15"><path fill="currentColor" d="M164.9 24.6c-7.7-18.6-28-28.5-47.4-23.2l-88 24C12.1 30.2 0 46 0 64C0 311.4 200.6 512 448 512c18 0 33.8-12.1 38.6-29.5l24-88c5.3-19.4-4.6-39.7-23.2-47.4l-96-40c-16.3-6.8-35.2-2.1-46.3 11.6L304.7 368C234.3 334.7 177.3 277.7 144 207.3L193.3 167c13.7-11.2 18.4-30 11.6-46.3l-40-96z"/></svg>
                                            </span>
                                            <a href="tel://{{ . }}" style="color: inherit; text-decoration: none;">{{ . }}</a>
                                        </li>
                                        {{ end }}
                                        {{ with site.Params.info.email }}
                                        <li>
                                            <span>
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="15"><path fill="currentColor" d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48L48 64zM0 176L0 384c0 35.3 28.7 64 64 64l384 0c35.3 0 64-28.7 64-64l0-208L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z"/></svg>
                                            </span>
                                            <a href="mailto://{{ . }}" style="color: inherit; text-decoration: none; display: inline;">{{ . }}</a>
                                        </li>
                                        {{ end }}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ with site.Params.info.copyright }}
    <div class="footer-copyright-wrapper">
        <div class="footer-copyright text-center">
            <p class="copyright-text">{{ . }}</p>
        </div>
    </div>
    {{ end }}
</div>
<!--  End of footer area  -->
<!--=======  offcanvas mobile menu  =======-->

<div class="offcanvas-mobile-menu" id="mobile-menu-overlay">
    <a href="javascript:void(0)" class="offcanvas-menu-close" id="mobile-menu-close-trigger">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" width="30"><path fill="#fff" d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/></svg>
    </a>

    <div class="offcanvas-wrapper">

        <div class="offcanvas-inner-content">
            <nav class="offcanvas-navigation">
                <ul>
                    {{ range site.Menus.main }}
                    {{ if .HasChildren }}
                    <li class="menu-item-has-children">
                        <a href="{{ .URL }}">{{ .Name }}</a>
                        <ul class="sub-menu">
                            {{ range .Children }}
                            <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                            {{ end }}
                        </ul>
                    </li>
                    {{ else }}
                    <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                    {{ end }}
                    {{ end }}
                </ul>
            </nav>



            <div class="offcanvas-widget-area">
                <div class="off-canvas-contact-widget">
                    <div class="header-contact-info">
                        <ul class="header-contact-info__list">
                            {{ with site.Params.info.number }}
                            <li>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" width="15"><path fill="#666" d="M16 64C16 28.7 44.7 0 80 0L304 0c35.3 0 64 28.7 64 64l0 384c0 35.3-28.7 64-64 64L80 512c-35.3 0-64-28.7-64-64L16 64zM144 448c0 8.8 7.2 16 16 16l64 0c8.8 0 16-7.2 16-16s-7.2-16-16-16l-64 0c-8.8 0-16 7.2-16 16zM304 64L80 64l0 320 224 0 0-320z"/></svg>
                                <a href="tel://12452456012">{{ . }}</a>
                            </li>
                            {{ end }}
                            {{ with site.Params.info.email }}
                            <li>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="15"><path fill="#666" d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48L48 64zM0 176L0 384c0 35.3 28.7 64 64 64l384 0c35.3 0 64-28.7 64-64l0-208L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z"/></svg>
                                <a href="mailto:info@yourdomain.com">{{ . }}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!--=======  End of offcanvas mobile menu  =======-->
<!--  scroll top -->
<a href="#" class="scroll-top" id="scroll-top">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="25"><path fill="#ffffff" d="M233.4 105.4c12.5-12.5 32.8-12.5 45.3 0l192 192c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L256 173.3 86.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l192-192z"/></svg>
</a>