<!--====================  header area ====================-->
<div class="header-area header-sticky header-sticky--default">
    <div class="header-area__desktop header-area__desktop--default">
        <!--=======  header info area  =======-->
        <div class="header-info-area">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-12">
                        <div class="header-info-wrapper align-items-center">
                            <!-- logo -->
                            <div class="logo">
                                <a href="{{ site.BaseURL }}">
                                    <img width="178" height="39" src="{{ site.Params.info.logo | relURL }}" class="img-fluid" alt="first-choice-builder-logo">
                                </a>
                            </div>

                            <!-- header contact info -->
                            <div class="header-contact-info">
                                {{ with site.Params.info.number }}
                                <div class="header-info-single-item">
                                    <div class="header-info-single-item__icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" viewBox="0 0 384 512"><path fill="#E11A22" d="M16 64C16 28.7 44.7 0 80 0L304 0c35.3 0 64 28.7 64 64l0 384c0 35.3-28.7 64-64 64L80 512c-35.3 0-64-28.7-64-64L16 64zM144 448c0 8.8 7.2 16 16 16l64 0c8.8 0 16-7.2 16-16s-7.2-16-16-16l-64 0c-8.8 0-16 7.2-16 16zM304 64L80 64l0 320 224 0 0-320z"/></svg>
                                    </div>
                                    <div class="header-info-single-item__content">
                                        <h6 class="header-info-single-item__title">Phone</h6>
                                        <p class="header-info-single-item__subtitle">{{ . }}</p>
                                    </div>
                                </div>
                                {{ end }}
                                {{ with site.Params.info.address }}
                                <div class="header-info-single-item">
                                    <div class="header-info-single-item__icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" viewBox="0 0 576 512"><path fill="#E11A22" d="M575.8 255.5c0 18-15 32.1-32 32.1l-32 0 .7 160.2c0 2.7-.2 5.4-.5 8.1l0 16.2c0 22.1-17.9 40-40 40l-16 0c-1.1 0-2.2 0-3.3-.1c-1.4 .1-2.8 .1-4.2 .1L416 512l-24 0c-22.1 0-40-17.9-40-40l0-24 0-64c0-17.7-14.3-32-32-32l-64 0c-17.7 0-32 14.3-32 32l0 64 0 24c0 22.1-17.9 40-40 40l-24 0-31.9 0c-1.5 0-3-.1-4.5-.2c-1.2 .1-2.4 .2-3.6 .2l-16 0c-22.1 0-40-17.9-40-40l0-112c0-.9 0-1.9 .1-2.8l0-69.7-32 0c-18 0-32-14-32-32.1c0-9 3-17 10-24L266.4 8c7-7 15-8 22-8s15 2 21 7L564.8 231.5c8 7 12 15 11 24z"/></svg>
                                    </div>
                                    <div class="header-info-single-item__content" style="width: 300px;">
                                        <h6 class="header-info-single-item__title">Address</h6>
                                        <p class="header-info-single-item__subtitle">{{ . }}</p>
                                    </div>
                                </div>
                                {{ end }}
                            </div>

                            <!-- mobile menu -->
                            <div class="mobile-navigation-icon" id="mobile-menu-trigger">
                                <i></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--=======  End of header info area =======-->
        <!--=======  header navigation area  =======-->
        <div class="header-navigation-area default-bg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- header navigation -->
                        <div class="header-navigation header-navigation--header-default position-relative">
                            <div class="header-navigation__nav position-static">
                                <nav>
                                    <ul>
                                        {{ range site.Menus.main }}
                                        <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                                        {{ end }}
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--=======  End of header navigation area =======-->
    </div>
</div>
<!--====================  End of header area  ====================-->