{{ define "main" }}
<!--====================  breadcrumb area ====================-->
{{ partial "hero.html" . }}
<!--====================  End of breadcrumb area  ====================-->
<div class="page-wrapper section-space--inner--120">
    <!--Contact section start-->
    <div class="conact-section">
        <div class="container">

            <div class="row section-space--bottom--50">
                <div class="col">
                    <div class="contact-map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d4973.0584606204475!2d-0.93034!3d51.448439!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487684c79ad54a4b%3A0xf4731a0c774c0c49!2s59%20Anderson%20Ave%2C%20Earley%2C%20Reading%2C%20UK!5e0!3m2!1sen!2sus!4v1738428496124!5m2!1sen!2sus" width="100%" height="100%" style="border:0;" allowfullscreen="true" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-12">
                    <div class="contact-information">
                        <h3>Contact Information</h3>
                        <ul style="padding: 0;">
                            {{ with site.Params.info.address }}
                            <li>
                                <span class="icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" width="20"><path fill="currentColor" d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"/></svg>
                                </span>
                                <span class="text"><span>{{ . }}</span></span>
                            </li>
                            {{ end }}
                            {{ with site.Params.info.number }}
                            <li>
                                <span class="icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="20"><path fill="currentColor" d="M164.9 24.6c-7.7-18.6-28-28.5-47.4-23.2l-88 24C12.1 30.2 0 46 0 64C0 311.4 200.6 512 448 512c18 0 33.8-12.1 38.6-29.5l24-88c5.3-19.4-4.6-39.7-23.2-47.4l-96-40c-16.3-6.8-35.2-2.1-46.3 11.6L304.7 368C234.3 334.7 177.3 277.7 144 207.3L193.3 167c13.7-11.2 18.4-30 11.6-46.3l-40-96z"/></svg>
                                </span>
                                <span class="text"><a href="tel://{{ . }}" style="color: inherit; text-decoration: none;">{{ . }}</a></span>
                            </li>
                            {{ end }}
                            {{ with site.Params.info.email }}
                            <li>
                                <span class="icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="20"><path fill="currentColor" d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48L48 64zM0 176L0 384c0 35.3 28.7 64 64 64l384 0c35.3 0 64-28.7 64-64l0-208L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z"/></svg>
                                </span>
                                <span class="text"><a href="mailto://{{ . }}" style="color: inherit; text-decoration: none;">{{ . }}</a></span>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
                <div class="col-lg-8 col-12">
                    <div class="contact-form">
                        <h3>Leave Your Message</h3>
                        <form id="contact-form" action="{{ site.Params.form_endpiont }}" method="post">
                            <div class="row row-10">
                                <div class="col-md-6 col-12 section-space--bottom--20"><input name="con_name" type="text" placeholder="Your Name"></div>
                                <div class="col-md-6 col-12 section-space--bottom--20"><input name="con_email" type="email" placeholder="Your Email"></div>
                                <div class="col-12"><textarea name="con_message" placeholder="Your Message"></textarea></div>
                                <div class="col-12"><button>Send Message</button></div>
                            </div>
                        </form>
                        <p class="form-message"></p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--Contact section end-->
</div>
{{ end }}